# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.pbxuser
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
*.swp

# Firebase
GoogleService-Info.plist

# Claude Code / OMC
.omc/
CLAUDE.md

# Node.js
node_modules/
functions/node_modules/
functions/.env
functions/.env.*
