<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZzuTYRdMt2XL_AGZYYuoJUqdQM3voJUY</string>
	<key>GCM_SENDER_ID</key>
	<string>763816063386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cab.coupleAccountBank</string>
	<key>PROJECT_ID</key>
	<string>coupleaccountbank</string>
	<key>STORAGE_BUCKET</key>
	<string>coupleaccountbank.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763816063386:ios:62845e47e55ae8fd700a23</string>
</dict>
</plist>